CA="https://acme-v02.api.letsencrypt.org/directory"
#CA="https://acme-staging-v02.api.letsencrypt.org/directory"
CHALLENGETYPE="dns-01"
BASEDIR=$SCRIPTDIR
HOOK="${BASEDIR}/../hook.sh"
HOOK_CHAIN=yes
CONTACT_EMAIL=""
DOMAINS_TXT="{{CONFIG_DIR}}/domains.txt"
CERTDIR="{{CONFIG_DIR}}/certs"
ACCOUNTDIR="{{CONFIG_DIR}}/accounts"
CHAINCACHE="{{CONFIG_DIR}}/chains"
