sleep:
    initial: 3
    retry: 30
    max-retries: 20

providers:
    transip-1:
        type: transip
        nameservers:
            - ns0.transip.net
            - ns1.transip.nl
            - ns2.transip.eu
        config:
            username: someone
            key-file: /etc/dehydrated/transip-key.pem
    cloudflare-1:
        type: cloudflare
        nameservers:
            - clark.ns.cloudflare.com
            - maria.ns.cloudflare.com
        config:
            email: some@email.com
            token: secret
    do-1:
        type: digital-ocean
        nameservers:
            - ns1.digitalocean.com
            - ns2.digitalocean.com
            - ns3.digitalocean.com
        config:
            bearer-token: atoken
    do-2and3:
        type: digital-ocean
        nameservers:
            - ns1.digitalocean.com
            - ns2.digitalocean.com
            - ns3.digitalocean.com
        config:
            bearer-token: anothertoken

domains:
    example.com: transip-1
    example.org: cloudflare-1
    example1.net: do-1
    example2.net: do-2and3
    example3.net: do-2and3